* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    list-style-type: none;
}

/*tipo de letra*/
body {
    font-family: Arial, Helvetica, Verdana;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000;/*color de los titulos*/
    font-weight: 300;
}

/*el baner de Catsocial*/
.catsocial {
    width: 100%;
    background:#000000;
    height: 80px;
    border-bottom: 1px solid rgba(46, 148, 239);;
    box-shadow: 1px 1px 10px 0 rgb(255, 0, 106);
    position: sticky;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
    
}

.nombre h1 {
    color: #ffffff;    
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
    font-family: 'Comic Sans MS', arial;
    position: absolute;
}

.michi img{
    margin: 28px 0 0 0;
    display: inline-block;
    position: absolute;
    right: 200px;
    width: 70px;
    height: 70px; 
    padding: 0;
    align-items: top;
}

.nav {
    padding: 0 10px;
}

.contenido-header>img {
    width: 200px;
}

/*referencias*/

/*ul {
    width: 100%;
    height: 80px;
    background:#000000;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(46, 148, 239);
    position: static;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
}

.omg {

    font: 14px arial;
}

.omg {
    size: 406px 65px;
    background: #1d273b;
    margin: 0px 22px 0px 23px;
}

.nav-i {
    margin: 28px 0 0 0;
    display: inline-block;
    background: #0059ff;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    box-shadow: 0 8px 32px rgb(119, 0, 255);
    position: absolute;
    right: 550px;
    width: 100px;
    border: 3px solid #000000;
    padding: 10px;
}

.nav-t {
    margin: 28px 0 0 0;
    display: inline-block;
    background: #0059ff;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    box-shadow: 0 8px 32px rgb(119, 0, 255);
    position: absolute;
    right: 350px;
    width: 100px;
    border: 3px solid #000000;
    padding: 10px;
}

.nav-a {
    margin: 28px 0 0 0;
    display: inline-block;
    background: #0059ff;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    box-shadow: 0 8px 32px rgb(119, 0, 255);
    position: absolute;
    right: 450px;
    width: 100px;
    border: 3px solid #000000;
    padding: 10px;
}
*/
/*caracteristicas de la primera division (titulo de catsocial, letras y imagen)*/
.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    color: #000000;
}

/*tamaño del titulo*/
h1 {
    font-size: 50px;
}


/* este es el espacio que hay entre la primera division y el header, pruebe aumentar el "margin botton" para que lo entienda mejor*/
header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
}

/*Opciones del nav (referencias)*/
nav {
    width: 100%;
    height: 80px;
    background:#ffffff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(46, 148, 239);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}

.nav .logo {
    height: 70px;

}

.nav .logo img {
    height: 100%;
    vertical-align: top;
}

.enlaces-header {
    font-weight: 300;
    transition: ease-in-out 0.5s;
}

.nav .enlaces-header a {
    color: #5D6678;
    text-decoration: none;
    margin-left: 20px;
}

.hamburguer {
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color 0.5s ease-in;
}

.hamburguer>i {
    font-size: 25px;
    line-height: 80px;
}

.contenido-header {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-header>img {
    width: 550px;
    animation: ease-in animat 1s;
}

@keyframes animat {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


.textos-header {
    margin: 0 0 0 30px;
}

.contenido-header p {
    font-weight: 100;
    margin-top: 14px;
    color: #5D6678;
}


.contenido-header a {
    margin: 28px 0 0 0;
    width: 230px;
    display: inline-block;
    background: #fddd57;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}
